version: '3.7'

services:
  db:
    image: mariadb:10.5
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=example
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=nextcloud
    volumes:
      - nc-db:/var/lib/mysql

  app:
    image: nextcloud:latest
    restart: always
    ports:
      - "8085:80"
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=nextcloud
    depends_on:
      - db
    volumes:
      - nc-data:/var/www/html

volumes:
  nc-db:
  nc-data:
