name: Build and publish Docker images

on:
  push:
    branches:
      - alfa

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push API image
        uses: docker/build-push-action@v4
        with:
          context: ./python_api
          file: ./python_api/Dockerfile
          push: true
          tags: ghcr.io/comunidadtelebots/dbteamv2-api:alfa
          platforms: linux/amd64,linux/arm64

      - name: Build and push Bot image
        uses: docker/build-push-action@v4
        with:
          context: ./python_api
          file: ./python_api/Dockerfile
          push: true
          tags: ghcr.io/comunidadtelebots/dbteamv2-bot:alfa
          platforms: linux/amd64,linux/arm64
